*.js
!jest.config.js
*.d.ts
node_modules

.next
# CDK asset staging directory
.cdk.staging
cdk.out

volume
.env
dist
# CDK asset staging directory
.cdk.staging
cdk.out
cache
artifacts
cache
typechain-types
.idea
# testing
/coverage
.env
.env.local

# next.js
.next
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
.DS_Store
